html {
    height: 100%;
}

img {
    width: 400px;
    height: auto;
}

aside {
    width: auto;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-align: left;
}

.splitscreen {
    display:flex;
}
.splitscreen .left {
    flex: 1;
}
.splitscreen .right {
    flex: .4;
}

nav a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 25px;
}

br {
    display: block; /* makes it have a width */
    content: ""; /* clears default height */
    margin-top: 25px; /* change this to whatever height you want it */
>>>>>>> ce5c02f1cd38aab00d88047bd72ffaea7370d48e
}
