body {
  margin: 15px;
  zoom: .89;
}
h1{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  overflow-x: hidden;
  font-size: 175%;
}
a{
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}
a:visited{
  color: black;
}
a:hover{
  color: green;
}
p{
  padding-left: 30px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 135%;
}

.slide {
  width: 100vw;
  height: 100vh;
}
.wrapper {
  display: flex;
  flex-direction: row;
  width: 40000vw;
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
}
.one {
  background: white;
  width: 40000vw;
}
.outer-wrapper {
  width: 100vh;
  height: 110vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display:none;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 130px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 18px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  top: 10px;
  left: 99%;

}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}